* {
    box-sizing: border-box;
    /* box-sizing: inherit; */
}

body {
    font-family: 'Noto Serif', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Srisakdi', cursive;
    font-family: 'Taviraj', serif;
    margin: 0;
    /* background-image: url(/assets/nga.jpg); */
    background-size: cover;
    min-height: 100vh;
}
.app {
    position: relative;
    top: 140px;
}
h1 {
    font-size: 4rem;
    text-align: center;
    font-weight: 500;
}
.container {
    display: flex;
    justify-content: center;
}
.number {
    display: block;
    width: 100px;
    font-size: 100px;
    margin: 20px 70px;
}
.text {
    font-size: 50px;
}
.countdown {
    text-align: center;
}