* {
    box-sizing: border-box;
    /* box-sizing: inherit; */
}

body {
    font-family: 'Bodoni Moda', serif;
    margin: 0;
    background-image: url(https://images.unsplash.com/photo-1483921020237-2ff51e8e4b22?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
    background-size: cover;
    min-height: 100vh;
}
.app {
    position: relative;
    top: 140px;
}
h1 {
    font-size: 4rem;
    text-align: center;
    font-weight: 500;
}
.container {
    display: flex;
    justify-content: center;
}
.number {
    display: block;
    width: 100px;
    font-size: 100px;
    margin: 20px 70px;
}
.text {
    font-size: 50px;
}
.countdown {
    text-align: center;
}